In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv("F:/Cursos/ALURA/Formação Data Science/Python Pandas - Tratando e analisando dados/ALURA - JUPYTER/aluguel_residencial.csv",sep = ";")

In [3]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

In [4]:
# 1 e 2
# 3 e 4
# 5 e 6
# 7 e 8
classes = [0, 2, 4, 6, 100]

In [5]:
quartos = pd.cut(dados.Quartos,classes)
quartos

0        (0.0, 2.0]
1        (0.0, 2.0]
2        (0.0, 2.0]
3        (0.0, 2.0]
4        (2.0, 4.0]
            ...
22575    (0.0, 2.0]
22576           NaN
22577    (2.0, 4.0]
22578    (0.0, 2.0]
22579    (0.0, 2.0]
Name: Quartos, Length: 22580, dtype: category
Categories (4, interval[int64, right]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [6]:
quartos = pd.cut(dados['Quartos'],classes)
quartos

0        (0.0, 2.0]
1        (0.0, 2.0]
2        (0.0, 2.0]
3        (0.0, 2.0]
4        (2.0, 4.0]
            ...
22575    (0.0, 2.0]
22576           NaN
22577    (2.0, 4.0]
22578    (0.0, 2.0]
22579    (0.0, 2.0]
Name: Quartos, Length: 22580, dtype: category
Categories (4, interval[int64, right]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [7]:
pd.value_counts(quartos)

(0, 2]      11814
(2, 4]       9860
(4, 6]        689
(6, 100]       52
Name: Quartos, dtype: int64

In [8]:
labels = ['1 e 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 quartos ou mais' ]
labels

['1 e 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 quartos ou mais']

In [9]:
quartos = pd.cut(dados.Quartos, classes, labels = labels)

In [10]:
pd.value_counts(quartos)

1 e 2 quartos        11814
3 e 4 quartos         9860
5 e 6 quartos          689
7 quartos ou mais       52
Name: Quartos, dtype: int64

Aqui está os valores nulos

In [13]:
quartos = pd.cut(dados.Quartos, classes, labels = labels, include_lowest = True)

In [15]:
pd.value_counts(quartos)

1 e 2 quartos        11979
3 e 4 quartos         9860
5 e 6 quartos          689
7 quartos ou mais       52
Name: Quartos, dtype: int64